USE [master]
GO
/****** Object:  Database [CompuDistribuida]    Script Date: 02/07/2017 11:33:43 ******/
CREATE DATABASE [CompuDistribuida]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompuDistribuida', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CompuDistribuida.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompuDistribuida_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CompuDistribuida_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompuDistribuida].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompuDistribuida]
GO
USE [CompuDistribuida]
GO
/****** Object:  Table [dbo].[FACULTAD]    Script Date: 02/07/2017 11:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTAD](
	[ID_FACULTAD] [int] NOT NULL,
	[NOMBREFACULTAD] [char](30) NULL,
 CONSTRAINT [PK_FACULTAD] PRIMARY KEY CLUSTERED 
(
	[ID_FACULTAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 02/07/2017 11:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] NOT NULL,
	[ID_TIPO_PERSONA] [int] NULL,
	[ID_FACULTAD] [int] NULL,
	[NOMBREPERSONA] [char](40) NULL,
	[CONTRASENA] [char](10) NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIPO_PERSONA]    Script Date: 02/07/2017 11:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_PERSONA](
	[ID_TIPO_PERSONA] [int] NOT NULL,
	[TIPO_PERSONA] [char](12) NULL,
 CONSTRAINT [PK_TIPO_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [RELATIONSHIP_2_FK]    Script Date: 02/07/2017 11:33:44 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_2_FK] ON [dbo].[PERSONA]
(
	[ID_FACULTAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_3_FK]    Script Date: 02/07/2017 11:33:44 ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_3_FK] ON [dbo].[PERSONA]
(
	[ID_TIPO_PERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_RELATIONS_FACULTAD] FOREIGN KEY([ID_FACULTAD])
REFERENCES [dbo].[FACULTAD] ([ID_FACULTAD])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_RELATIONS_FACULTAD]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_RELATIONS_TIPO_PER] FOREIGN KEY([ID_TIPO_PERSONA])
REFERENCES [dbo].[TIPO_PERSONA] ([ID_TIPO_PERSONA])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_RELATIONS_TIPO_PER]
GO
USE [master]
GO
